
# .gitignore

#.vim*
.viminfo
.vimgrep
.vimmarks
.vimspec

.todo.md

.bxsinfo.yaml
.errors
.rspec.out
.ruby-version

.chat.md
.openai*
.claude.md
.klaude.*

.deep.md
.deepseek*

pkg/*.js
spec/www/

chrome.core

